.edit-direction-container {
  position: relative;
}

.edit-diretion-add-btn {
  button {
    width: 10rem;
    height: 4rem;
    font-size: 1.2rem;
    font-weight: 800;
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.8);
    background-color: #fafafade;
    border-radius: 0.8rem;

    &:hover {
      cursor: pointer;
      background-color: #fff;
      color: #1890ff;
    }

    &.direction-add-active {
      background-color: #fff;
      color: #1890ff;
    }
  }
  margin-bottom: 1.3rem;
}

// 添加/编辑方向信息盒子
.edit-direction-add-box-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.1rem);
  z-index: 100;
}

// 添加/编辑方向信息盒子
.edit-direction-add-box {
  position: fixed;
  width: 70%;
  height: 70%;
  bottom: 0;
  right: 6rem;
  background-color: #dee2e3;
  padding: 1rem 2rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  box-shadow: 0 0 0.6rem rgba(46, 47, 48, 0.795);
  z-index: 1000;
  display: flex;
  justify-content: space-between;

  .add-direction-item-left-box {
    width: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 0.3rem;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.144);
      border-radius: 0.3rem;
    }
  }

  .add-direction-item {
    margin-bottom: 2rem;

    label {
      display: inline-block;
      margin-bottom: 0.5rem;
      font-weight: 800;
      margin-right: 1rem;
    }
    input {
      width: 95%;
      border: none;
      outline: none;
      background-color: transparent;
      border-bottom: 0.2rem solid #fff;
    }

    textarea {
      width: 95%;
      height: 8rem;
      resize: none;
      border: none;
      outline: none;
    }
  }

  .add-direction-item-right-box {
    width: 80%;
  }

  .add-direction-post-box {
    position: absolute;
    bottom: 2rem;

    button {
      width: 8rem;
      height: 3rem;
      background-color: #ffffff91;
      box-shadow: 0 0 0.3rem rgb(110, 110, 110);

      &:hover {
        cursor: pointer;
        background-color: #fff;
        color: #1890ff;
      }
    }
  }

  .edit-direction-delete-box {
    position: absolute;
    top: 0.6rem;
    right: 0.8rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon-chahao {
      font-size: 2rem;
    }
    &:hover {
      cursor: pointer;
      color: #1890ff;
    }
  }
}

.direction-item-container {
  background-color: #fff;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  padding: 1.5rem 0;
}

.direction-item-box {
  padding: 1rem 2rem;
  display: flex;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.103);
    width: 95%;
    height: 0.2rem;
  }

  .direction-info-top-box {
    display: flex;
    align-items: center;

    .direction-name {
      font-size: 1.5rem;
      font-weight: 800;
      margin-right: 1rem;
    }
    .direction-status {
      width: 3rem;
      height: 1.3rem;
      font-size: 0.8rem;
      background-color: rgba(223, 228, 235, 0.795);
      border-radius: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .direction-edit-btns {
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      width: 4rem;
      height: 2rem;
      position: relative;

      &:hover {
        cursor: pointer;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 4rem;
          height: 2rem;
          // background-color: #ffffff27;
        }
      }
    }

    .direction-edit-btn {
      background-color: #59b95b;
      color: #fff;
      margin-bottom: 0.8rem;
    }

    .direction-move-btn {
      background-color: #f5a621;
      color: #fff;
    }
  }

  .direction-brefinfo {
    padding: 0 0.5rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 1200px) {
  .edit-direction-add-box {
    height: 65%;
    right: 1rem;
    .add-direction-item-right-box {
      width: 70%;
    }
    .add-direction-item-left-box {
      width: 30%;

      textarea {
        height: 6rem;
      }
    }
  }
}
@media (max-width: 768px) {
  .edit-direction-add-box {
    height: 75%;
    width: 80%;
    right: 50%;
    transform: translateX(50%);
    flex-direction: column;
    justify-content: flex-start;

    .add-direction-item-left-box {
      position: relative;
      width: 100%;
      margin-bottom: 4rem;
      padding: 0;
      &::before {
        content: '';
        position: absolute;
        top: 115%;
        right: 50%;
        height: 0.3rem;
        width: 100%;
        transform: translateX(50%);
        background-color: rgba(0, 0, 0, 0.144);
        border-radius: 0.3rem;
      }

      .add-direction-post-box {
        // width: 10rem;
        bottom: -1.5rem;
      }
    }
  }

  .direction-item-box {
    flex-direction: column;
    align-items: center;

    .direction-info-box {
      margin-bottom: 1rem;
    }

    .direction-edit-btns {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;

      .direction-edit-btn {
        margin: 0;
      }
    }
  }
}
