.edit-diretion-add-btn {
  button {
    width: 10rem;
    height: 4rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 800;
    background-color: #ffffffc2;
    box-shadow: 0 0 0.5rem rgba(150, 157, 165, 0.795);
    border-radius: 0.8rem;

    &:hover {
      cursor: pointer;
      background-color: #fff;
      color: #1890ff;
    }
  }
  margin-bottom: 1.3rem;
}

// 添加方向信息盒子
.edit-direction-add-box-cover {
  position: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(0.1rem);
  z-index: 100;
}

.edit-direction-add-box {
  min-width: 16rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #abb2b2d0;
  // background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid rgba(0, 0, 0, 0.151);
  // box-shadow: 0 0 0.6rem rgba(127, 133, 139, 0.795);

  h3 {
    margin-bottom: 2rem;
  }

  .add-direction-item {
    margin-bottom: 2rem;
    label {
      font-weight: 800;
      margin-right: 1rem;
    }
    input {
      // width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      border-bottom: 0.2rem solid #fff;
    }

    textarea {
      // height: 2rem;
      resize: vertical;
      border: none;
      outline: none;
    }
  }

  .add-direction-btns {
    width: 100%;
    display: flex;
    justify-content: space-around;

    button {
      border: none;
      width: 5rem;
      height: 2rem;
      box-shadow: 0 0 0.3rem rgb(110, 110, 110);

      &:hover {
        cursor: pointer;
        background-color: #fff;
        color: #1890ff;
      }
    }
  }
}

.direction-item-container {
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(150, 157, 165, 0.795);
  border-radius: 0.5rem;
  padding: 1.5rem 0;
}

.direction-item-box {
  padding: 1rem 2rem;
  display: flex;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.103);
    width: 95%;
    height: 0.2rem;
  }

  .direction-info-top-box {
    display: flex;
    align-items: center;

    .direction-name {
      font-size: 1.5rem;
      font-weight: 800;
      margin-right: 1rem;
    }
    .direction-status {
      width: 3rem;
      height: 1.3rem;
      font-size: 0.8rem;
      background-color: rgba(223, 228, 235, 0.795);
      border-radius: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .direction-edit-btns {
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      border: none;
      width: 4rem;
      height: 2rem;
      position: relative;

      &:hover {
        cursor: pointer;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 4rem;
          height: 2rem;
          background-color: #ffffff27;
        }
      }
    }

    .direction-edit-btn {
      background-color: #59b95b;
      color: #fff;
      margin-bottom: 0.8rem;
    }

    .direction-move-btn {
      background-color: #f5a621;
      color: #fff;
    }
  }

  .direction-brefinfo {
    padding: 0 0.5rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .direction-item-box {
    flex-direction: column;
    align-items: center;

    .direction-info-box {
      margin-bottom: 1rem;
    }

    .direction-edit-btns {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;

      .direction-edit-btn {
        margin: 0;
        // margin-right: 1rem;
      }
    }
  }
}
