/* 文章字体 */

.htmledit_views {
  padding: 0;
  margin: 0;
  margin: 0 auto;
  width: 690px;
  min-height: 300px !important;
  font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, WenQuanYi Micro Hei, sans-serif, SimHei, SimSun;
}

/*contents.css*/
.cke_editable {
  overflow: hidden;
  position: relative;
  word-wrap: break-word;
}

.cke_button__redo {
}

.htmledit_views img.right,
.htmledit_views .cke_widget_image.right {
  float: right;
  margin-left: 15px;
  padding: 5px;
}

.htmledit_views img.left,
.htmledit_views .cke_widget_image.left {
  float: left;
  margin-right: 15px;
  padding: 5px;
}

.htmledit_views .marker {
  background-color: Yellow;
}

.htmledit_views span[lang] {
  font-style: italic;
}

.htmledit_views figure {
  text-align: center;
  margin: 0 24px;
  display: inline-block;
}

.htmledit_views figure > figcaption {
  position: relative;
  text-align: center;
  margin: 8px;
  color: #999;
  font-size: 14px;
  display: block; /* For IE8 */
  z-index: 10;
}

.htmledit_views a > img {
  padding: 1px;
  margin: 1px;
  border: none;
  outline: 1px solid #0782c1;
}

/* Widget Styles */
.htmledit_views .code-featured {
  border: 5px solid red;
}

.htmledit_views .math-featured {
  padding: 20px;
  box-shadow: 0 0 2px rgba(200, 0, 0, 1);
  background-color: rgba(255, 0, 0, 0.05);
  margin: 10px;
}

.htmledit_views .image-clean {
  border: 0;
  background: none;
  padding: 0;
}

.htmledit_views .image-clean > figcaption {
  font-size: 0.9em;
  text-align: right;
}

.htmledit_views .image-grayscale {
  background-color: white;
  color: #666;
}

.htmledit_views .image-grayscale img,
.htmledit_views img.image-grayscale {
  filter: grayscale(100%);
}

.htmledit_views .embed-240p {
  max-width: 426px;
  max-height: 240px;
  margin: 0 auto;
}

.htmledit_views .embed-360p {
  max-width: 640px;
  max-height: 360px;
  margin: 0 auto;
}

.htmledit_views .embed-480p {
  max-width: 854px;
  max-height: 480px;
  margin: 0 auto;
}

.htmledit_views .embed-720p {
  max-width: 1280px;
  max-height: 720px;
  margin: 0 auto;
}

.htmledit_views .embed-1080p {
  max-width: 1920px;
  max-height: 1080px;
  margin: 0 auto;
}

/* 文章正文 */
.htmledit_views p {
  font-size: 16px;
  color: #4d4d4d;
  font-weight: normal;
  line-height: 26px;
  margin: 0 0 16px 0;
  overflow-x: auto;
  overflow-y: hidden;
}
.htmledit_views .img-center {
  text-align: center;
}

p[align='center'] {
  text-align: center;
}

/* 地址斜体 */
.htmledit_views i,
.htmledit_views cite,
.htmledit_views em,
.htmledit_views var,
.htmledit_views address,
.htmledit_views dfn {
  font-style: italic;
}
.htmledit_views img {
  max-width: 100%;
  height: auto;
}

/* 正文加粗 */
.htmledit_views strong {
  font-weight: bold;
}

.htmledit_views strong span {
  font-weight: bold;
}

.htmledit_views * {
  box-sizing: border-box;
}

.htmledit_views h1,
.htmledit_views h2,
.htmledit_views h3,
.htmledit_views h4,
.htmledit_views h5,
.htmledit_views h6 {
  color: #4f4f4f;
  margin: 8px 0 16px 0;
  font-weight: bold;
}

.htmledit_views h1 span,
.htmledit_views h2 span,
.htmledit_views h3 span,
.htmledit_views h4 span,
.htmledit_views h5 span,
.htmledit_views h6 span {
  font-weight: bold;
}

/*有序、无序列表*/
.htmledit_views ul,
.htmledit_views ol {
  margin: 0 0 24px 0;
  padding: 0;
  font-size: 16px;
}

.htmledit_views ul ol {
  margin: 0 0 24px 32px;
}

.htmledit_views ul li {
  list-style-type: disc;
  margin: 8px 0 0 32px;
}
.htmledit_views ol li {
  list-style-type: decimal;
  margin-left: 40px;
  margin-top: 8px;
}

/* 图片 */
.htmledit_views img {
  /* max-width: 100%; */
}

/* 标题 */

.htmledit_views h1 {
  font-size: 24px;
  line-height: 32px;
}

.htmledit_views h2 {
  font-size: 22px;
  line-height: 30px;
}

.htmledit_views h3 {
  font-size: 18px;
  line-height: 26px;
}

.htmledit_views h4 {
  font-size: 20px;
  line-height: 28px;
}

.htmledit_views h5 {
  font-size: 16px;
  line-height: 24px;
}

.htmledit_views h6 {
  font-size: 16px;
  line-height: 24px;
}

/* 引用 */
.htmledit_views blockquote {
  display: block;
  padding: 16px;
  margin: 0 0 24px 0;
  border-left: 8px solid #dddfe4;
  background: #eef0f4;
  overflow: auto;
  overflow-scrolling: touch;
  word-wrap: normal;
  word-break: normal;
}

.htmledit_views blockquote ul,
.htmledit_views blockquote ol {
  margin-bottom: 16px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

.htmledit_views blockquote ul li {
  margin-bottom: 0;
}
.htmledit_views blockquote ol li {
  margin-bottom: 0;
}

/* 引用 - 文字*/
.htmledit_views blockquote p {
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  margin-bottom: 0;
  color: #4f4f4f;
}

/* 分割线 */
.htmledit_views hr {
  margin: 24px 0;
  border: none;
  border-bottom: solid #ccc 1px;
}

/*表格*/
.htmledit_views tbody {
  border: 0;
}

.htmledit_views table tr {
  border: 0;
  border-top: 1px solid #ddd;
  background-color: white;
}

.htmledit_views table {
  border-collapse: collapse;
  display: table;
  width: 100%;
  text-align: left;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.htmledit_views tbody {
  border: 0;
}

.htmledit_views table tr:nth-child(2n) {
  background-color: #f7f7f7;
}

.htmledit_views table tr th,
.htmledit_views table tr td {
  border: 1px solid #ddd;
  font-size: 14px;
  color: #4f4f4f;
  line-height: 22px;
  padding: 8px;
  text-align: left;
}

.htmledit_views table tr th p {
  font-size: 14px;
  color: #4f4f4f;
  line-height: 22px;
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: bold;
}

.htmledit_views table tr td p {
  font-size: 14px;
  color: #4f4f4f;
  line-height: 22px;
  margin: 0;
  padding: 0;
  text-align: left;
}

.htmledit_views table tr th code,
.htmledit_views table tr td code {
  white-space: normal;
  word-break: break-word;
}

.htmledit_views table tr th {
  font-weight: bold;
  background-color: #eff3f5;
}

/*目录列表*/
.htmledit_views dl {
  margin: 24px;
}

.htmledit_views dl dt {
  margin: 8px;
  font-weight: bold;
}
.htmledit_views dl dt dd {
  margin: 8px;
}

/*.htmledit_views dd p{
    margin: 8px;
}*/

/*abbr*/
.htmledit_views abbr[title],
.htmledit_views abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999;
}

/*首字母缩略词*/
.htmledit_views .initialism {
  font-size: 90%;
  text-transform: uppercase;
}

/*首字母缩略词*/
.htmledit_views pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0 0 24px 0;
  /* background-color: #f0f0f0; */
  overflow-x: auto;
  padding: 8px;
}

.marker {
  background-color: Yellow;
}

/*数学公式*/
htmledit_views img.mathcode {
  margin: 0 8px;
}
/*代码块字体*/
/* .htmledit_views code, */
.htmledit_views kbd,
.htmledit_views pre,
.htmledit_views samp {
  font-family: Consolas, Inconsolata, Courier, monospace;
  font-size: 14px;
  line-height: 22px;
  color: #000;
}

.htmledit_views code {
  /* color: #c7254e; */
  /* background-color: #f9f2f4; */
  border-radius: 4px;
}

/*超链接*/

.htmledit_views a {
  color: #6795B5;
  text-decoration: none;
  word-break: break-all;
}

.htmledit_views a:hover,
.htmledit_views a:focus {
  color: #409EFF;
  text-decoration: underline;
  outline: none;
}

.htmledit_views a:visited {
  color: #6795b5;
}
.htmledit_views .hot-keyword:visited {
  color: #3399ea;
}
/*脚注*/
.htmledit_views .footnote {
  vertical-align: top;
  position: relative;
  top: -4px;
  font-size: 12px;
}

/* UML */

.htmledit_views .sequence-diagram,
.htmledit_views .flow-chart {
  text-align: center;
  margin-bottom: 24px;
}

.htmledit_views .sequence-diagram,
.htmledit_views .flow-chart {
  text-align: center;
  margin-bottom: 24px;
  font-size: 14px !important;
}

.htmledit_views .sequence-diagram [fill='#000'],
.htmledit_views .flow-chart [fill='#000'],
.htmledit_views .sequence-diagram [fill='#000000'],
.htmledit_views .flow-chart [fill='#000000'],
.htmledit_views .sequence-diagram [fill='black'],
.htmledit_views .flow-chart [fill='black'] {
  fill: #4f4f4f;
}

.htmledit_views .sequence-diagram [stroke='#000000'],
.htmledit_views .flow-chart [stroke='#000000'] {
  stroke: #4f4f4f;
}

/* 数学公式 */

.htmledit_views .MathJax_SVG_Display {
  text-align: center;
  margin: 24px 0;
  font-size: 18px;
  font-weight: 400;
  color: #4f4f4f;
  position: relative;
  text-indent: 0;
  max-width: none;
  max-height: none;
  min-width: 0;
  min-height: 0;
  width: 100%;
}

/* code&pre  */
.htmledit_views pre code {
  display: block;
  line-height: 22px;
  overflow-x: auto;
  padding: 0;
  /* color: #000000; */
  white-space: pre;
  word-wrap: normal;
  /* background-color: #f6f8fa; */
  border-radius: 4px;
  padding: 8px;
  tab-size: 4;
}
.htmledit_views pre code:not(.hljs) {
  background-color: #f3f4f5;
}
.htmledit_views pre code,
.htmledit_views pre code div,
.htmledit_views pre code span {
  font-size: 14px;
  font-family: 'Source Code Pro', 'DejaVu Sans Mono', 'Ubuntu Mono',
    'Anonymous Pro', 'Droid Sans Mono', Menlo, Monaco, Consolas, Inconsolata,
    Courier, monospace, 'PingFang SC', 'Microsoft YaHei', sans-serif;
}
.htmledit_views pre.prettyprint,
.htmledit_views .prettyprint {
  margin: 0 0 24px 0;
  padding: 8px 16px 4px 56px;
  background-color: #f6f8fa;
  border: none;
}

.htmledit_views .prettyprint .pre-numbering {
  position: absolute;
  width: 48px;
  background-color: #eef0f4;
  top: 0;
  left: 0;
  margin: 0;
  padding: 8px 0 8px;
  list-style: none;
  text-align: right;
}

.htmledit_views .pre-numbering li {
  padding: 0 8px;
  list-style: none;
  margin: 0;
}

.htmledit_views dl dd {
  margin: 0 0 8px 40px;
}

/*kbd*/
.htmledit_views kbd {
  padding: 2px 8px;
  border: 1px solid rgba(63, 63, 63, 0.25);
  box-shadow: 0 1px 0 rgba(63, 63, 63, 0.25);
  background-color: #fff;
  color: #333;
  border-radius: 4px;
  display: inline-block;
  margin: 0 2px;
  white-space: nowrap;
}

/*高亮代码调整字符*/
.htmledit_views .dp-highlighter {
  font-size: 12px;
  text-align: left;
  margin: 0 0 24px 0;
}
/* 行号 */
.htmledit_views code.hljs {
}

.htmledit_views code ol {
  margin: 0;
  overflow: hidden;
}

.htmledit_views code ol li {
  list-style-type: none;
  margin-left: 0;
  margin-top: 0;
  height: 22px;
}
.htmledit_views code ol li div.hljs-ln-code {
  margin-left: 8px;
}
.htmledit_views code ol li div.hljs-ln-numbers,
.htmledit_views code ol li div.hljs-ln-code {
  float: left;
  height: 22px;
  font-family: 'Source Code Pro', 'DejaVu Sans Mono', 'Ubuntu Mono',
    'Anonymous Pro', 'Droid Sans Mono', Menlo, Monaco, Consolas, Inconsolata,
    Courier, monospace, 'PingFang SC', 'Microsoft YaHei', sans-serif;
}
.htmledit_views code ol li div.hljs-ln-numbers .hljs-ln-line,
.htmledit_views code ol li div.hljs-ln-code .hljs-ln-line {
  /* display: inline; */
}
.htmledit_views code ol li div.hljs-ln-numbers {
  width: 24px;
  border-right: 1px solid #c5c5c5;
}
.htmledit_views code ol li div.hljs-ln-numbers .hljs-ln-line {
  word-wrap: normal;
}
.htmledit_views code ol.hundred li div.hljs-ln-numbers {
  width: 30px;
}
.htmledit_views code ol.thousand li div.hljs-ln-numbers {
  width: 36px;
}
.htmledit_views .csdn-data-video {
  width: 200px;
}

.htmledit_views .csdn-data-video img {
  margin: 0;
  display: block;
  width: 200px;
  height: 112px;
}

.htmledit_views .csdn-data-video p {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
}

/* 兼容微信文章代码片样式 */
.htmledit_views pre[data-from='code-for-outside'] {
  overflow: hidden;
}
.htmledit_views pre[data-from='code-for-outside'] code {
  overflow-x: auto;
  overflow-y: hidden;
}
.htmledit_views pre[data-from='code-for-outside'] code * {
  overflow: visible;
  overflow-wrap: break-word;
}
.htmledit_views pre[data-from='code-for-outside'] p code {
  padding: 0;
}
