* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

li:hover {
  cursor: pointer;
}

// 视频标签的通用设置
/* // 全屏按钮 */
video::-webkit-media-controls-fullscreen-button {
  display: none;
}
/* //播放按钮 */
video::-webkit-media-controls-play-button {
  display: none;
}
/* //进度条 */
video::-webkit-media-controls-timeline {
  display: none;
}
/* //观看的当前时间 */
video::-webkit-media-controls-current-time-display {
  display: none;
}
/* //剩余时间 */
video::-webkit-media-controls-time-remaining-display {
  display: none;
}
/* //音量按钮 */
video::-webkit-media-controls-mute-button {
  display: none;
}
/* // 画中画 */
video::-webkit-media-controls-toggle-closed-captions-button {
  display: none;
}
/* //音量的控制条 */
video::-webkit-media-controls-volume-slider {
  display: none;
}
/* //所有控件 */
video::-webkit-media-controls-enclosure {
  display: none;
}

// 媒体查询配置
/* 超大屏幕设备（大桌面显示器及电视） */
@media (min-width: 1200px) {
  body {
    font-size: 18px; /* 对于大屏幕，适当增大字体 */
  }
}

/* 大屏设备（大屏幕桌面显示器或大屏平板） */
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 17px; /* 适度增大字体 */
  }
}

/* 平板设备（大部分平板电脑） */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 16px; /* 平板上可以保持默认大小 */
  }
}

/* 手机设备（大部分智能手机） */
@media (max-width: 767px) {
  body {
    font-size: 14px; /* 对于小屏手机，适当减少字体以避免行间太拥挤 */
  }
}

/* 小屏设备（老式手机） */
@media (max-width: 480px) {
  body {
    font-size: 13px; /* 更小的屏幕可以进一步减少字体大小 */
  }
}
