* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

li {
  list-style-type: none;
}

li:hover {
  cursor: pointer;
}

button {
  border: none;
}

a {
  text-decoration: none;
}
// 媒体查询配置
/* 超大屏幕设备（大桌面显示器及电视） */
@media (min-width: 1200px) {
  html {
    font-size: 18px; /* 对于大屏幕，适当增大字体 */
  }
}

/* 大屏设备（大屏幕桌面显示器或大屏平板） */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 17px; /* 适度增大字体 */
  }
}

/* 平板设备（大部分平板电脑） */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 16px; /* 平板上可以保持默认大小 */
  }
}

/* 手机设备（大部分智能手机） */
@media (max-width: 767px) {
  html {
    font-size: 14px; /* 对于小屏手机，适当减少字体以避免行间太拥挤 */
  }
}

/* 小屏设备（老式手机） */
@media (max-width: 480px) {
  html {
    font-size: 13px; /* 更小的屏幕可以进一步减少字体大小 */
  }
}
