.changeinfo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back-allmember {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 0.5rem;
  &:hover {
    color: #1890ff;
    cursor: pointer;
  }
}
.changeinfo-box {
  background-color: #fff;
  border-radius: 0.8rem;
  display: flex;
  padding: 3rem 1rem 7rem 1rem;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.795);
  position: relative;
  width: 90%;
}

.changeinfo-photochange-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .photo-box {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 2rem;

    .ant-upload-select {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    .image-wrapper {
      position: relative;

      &::before {
        font-family: 'iconfont';
        content: '\e663';
        font-size: 3rem;
        position: absolute;
        text-align: center;
        line-height: 12rem;
        color: #fff;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.219);
      }
    }
    img {
      width: 100%;
    }
  }

  .change-photo-btn {
    width: 120%;
    display: flex;
    justify-content: space-around;

    button {
      font-size: 0.8rem;
      width: 4rem;
      height: 2rem;
      border-radius: 1rem;
      border: none;
      box-shadow: 0 0 0.15rem rgba(150, 157, 165, 0.918);
      &:hover {
        cursor: pointer;
      }
      &.photo-choice-active {
        background-color: #1890ff;
        color: white;
      }
    }
  }
}

.changeinfo-basicchange-box {
  width: 40%;
  .changeinfo-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  label {
    width: 5rem;
    display: inline-block;
    padding-right: 1rem;
  }

  input {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 0.1rem solid #a7a7a762;
    padding: 0 1rem;

    &:focus {
      border-bottom: 0.15rem solid #0888ffd0;
    }
  }
  select {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 1rem;
    border-bottom: 0.1rem solid #a7a7a762;
    &:focus {
      border-bottom: 0.15rem solid #0888ffd0;
    }
  }
  textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 2rem;
    resize: vertical;
    outline: none;
    padding: 0.5rem;
    &:focus {
      border: 0.15rem solid #0888ffd0;
    }
  }
}

.changeinfo-post-btnbox {
  position: absolute;
  bottom: 2rem;
  button {
    margin-top: 1rem;
    width: 8.5rem;
    height: 2.8rem;
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(to right, #1890ff, #40a9ff);
    border: none;
    border-radius: 2rem;
    box-shadow: 0 0.3rem 0.6rem rgba(24, 144, 255, 0.4);
    transition: all 0.25s ease;
    letter-spacing: 0.1rem;

    &:hover {
      cursor: pointer;
      transform: translateY(-2px);
      box-shadow: 0 0.3rem 1rem rgba(24, 143, 255, 0.623);
      letter-spacing: 0.2rem;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.gratuate-company {
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .changeinfo-photochange-box {
    margin-bottom: 4rem;
  }
  .changeinfo-box {
    display: flex;
    flex-direction: column;
    padding: 5rem 3rem;

    .changeinfo-basicchange-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .changeinfo-item {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .changeinfo-basicchange-box label {
    margin-bottom: 0.5rem;
  }
}

.clickable-img {
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    filter: brightness(0.85);
  }
}

@media (max-width: 480px) {
  .changeinfo-box {
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
  }
}
