.add-member-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;

  .add-member-title {
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 2rem;
    letter-spacing: 0.2rem;

    svg {
      font-size: 2.8rem;
    }
  }

  .add-member-info-box {
    box-sizing: border-box;
    width: 80%;
    box-sizing: border-box;
    min-width: 20rem;
    padding: 3rem 8rem 1rem 8rem;
    border-radius: 1.2rem;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 0 1.3rem rgba(0, 0, 0, 0.425);

    backdrop-filter: blur(10px);
    border: 0.15rem solid rgba(255, 255, 255, 0.2);

    .add-member-info-item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;

      label {
        font-size: 1.2rem;
        font-weight: 600;
        // width: 30%;
        text-align: right;
        color: #fff;
        letter-spacing: 0.3rem;
      }

      input,
      select {
        box-sizing: border-box;
        width: 60%;
        padding: 0.6rem 0.8rem;
        background: transparent;
        border: none;
        border-bottom: 2px solid #1890ff;
        color: #fff;
        font-size: 1.05rem;
        outline: none;
        transition: border-color 0.3s;

        &:focus {
          border-color: #40a9ff;
        }
      }
    }
  }
}

.add-member-post-btn {
  margin-top: 1rem;
  width: 10rem;
  height: 3.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(to right, #1890ff, #40a9ff);
  border: none;
  border-radius: 2rem;
  box-shadow: 0 0.3rem 0.6rem rgba(24, 144, 255, 0.4);
  transition: all 0.25s ease;
  letter-spacing: 0.1rem;

  &:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 0.3rem 1rem rgba(24, 143, 255, 0.623);
    letter-spacing: 0.2rem;
  }

  &:active {
    transform: scale(0.9);
  }
}

.add-member-post-btn-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
