.allmember-container {
    padding: 7px 27px;
    height: 100vh;
    background-color: #f4f4f4;
    .allmember-title {
        font-size: 1.6rem;
        margin: 20px 0;
        color: rgb(143, 151, 165);
    }
    .filter-buttons {
        margin-bottom: 20px;
        .filter-button {
            margin: 5px 5px;
            // padding: 5px 10px;
            padding: 1rem;
            border-radius: 12px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            background-color: #e6e6e6;
            border: none;
            font-size: 1.1rem;
            cursor: pointer;
            &:hover {
                color: #1890ff;
                background-color: #fff;
              }
        }
    }
}





