.Global-message {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  color: #333333;
  font-size: 0.85rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease;
  opacity: 1;
  background-color: #fff;

  &.fade-out {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
}
