.mem-item {
  display: flex;
  align-items: flex-start;
  padding: 1.2rem 4rem;
  box-sizing: border-box;
  position: relative;
  height: 100%;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 95%;
    height: 0.2rem;
    background-color: #77777742;
    transform: translateX(-50%);
  }

  .mem-img-container {
    width: 6rem;
    height: 6rem;
    box-sizing: border-box;
    border-radius: 50%;
    border: 0.1rem solid rgba(0, 0, 0, 0.13);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;

    .mem-img {
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 50%;
    }
  }
  .mem-info {
    flex: 1;
    .mem-name-status {
      display: flex;
      align-items: center;
      .mem-name {
        font-size: 1.2rem;
        font-weight: 800;
        .mem-status-label {
          background-color: #4caf50;
          color: white;
          padding: 2px 5px;
          border-radius: 3px;
          font-size: 0.7rem;
        }
      }
    }
    .mem-signature {
      font-size: 0.9rem;
      color: #777;
      margin-top: 5px;
    }
    .mem-team {
      width: 3rem;
      height: 1.3rem;
      border-radius: 1.5rem;
      background-color: #38333317;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #777;
      font-size: 0.7em;
      margin-top: 0.8rem;
    }
  }
  .mem-buttons {
    // width: 6rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      border: none;
      width: 4rem;
      height: 2rem;
      position: relative;
    }

    .view-button {
      padding: 5px 10px;
      background-color: #2196f3;
      color: white;
      border: none;
      cursor: pointer;
      margin-bottom: 5px;
      border-radius: 4px;
      // background-color: #59b95b;
      color: #fff;
      margin-bottom: 0.8rem;

      &:hover {
        cursor: pointer;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 4rem;
          height: 2rem;
          background-color: #ffffff27;
        }
      }
    }
    .delete-button {
      // padding: 5px 10px;
      background-color: #f44336;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 4px;
    }
  }
  .blog-button {
    // padding: 5px 10px;
    padding: 0.4rem 0.7rem;
    background-color: #2196f3;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1.2rem;
    border-radius: 4px;
  }
}

@media (max-width: 768px) {
  .mem-item {
    margin: 0;
  }
}
