.peo-home-container {
  box-sizing: border-box;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(150, 157, 165, 0.795);

  .header-section {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;

    .header-photo-box {
      width: 5.6rem;
      height: 5.6rem;
      border-radius: 50%;
      box-sizing: border-box;
      border: 0.1rem solid #333;
      margin-right: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
      }
    }

    &::after {
      content: '';
      width: 100%;
      height: 0.2rem;
      position: absolute;
      top: 120%;
      background-color: #3333332d;
    }

    .user-info h2 {
      font-size: 1.4rem;
      margin: 0;
    }

    .user-info span {
      background-color: #4caf50;
      color: white;
      padding: 2px 5px;
      border-radius: 3px;
      font-size: 0.7rem;
    }
  }
}

.basic-info-section {
  padding: 1rem 1.5rem;

  .basic-info-box {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem 0 1rem;
  }

  h3 {
    font-size: 1.2rem;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }

  .basic-info-section-left {
    .info-item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      label {
        width: 7rem;
        color: #555;
      }
      span {
        color: #333;
      }
    }
  }

  .mien-box {
    height: 100%;
    // width: 20rem;
    // height: 100%;
    label {
      display: inline-block;
      margin-bottom: 1rem;
      //   padding-bottom: 0.5rem;
    }

    .mien-photo-box {
      width: 13rem;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .basic-info-section .basic-info-box {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
