.tabs-container {
  margin: 20px;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
  justify-content: center;
}

.tab {
  font-size: 1.6rem;
  padding: 10px 30px;
  cursor: pointer;
  color:#f0f0f0;
  background-color: #4f554c;
  background-clip: text;
  -webkit-text-stroke: 4px transparent;
}

.tab.active {
  font-weight: bold;
  border-bottom: 3px solid #2c3e50;
}

.more-tab {
  position: relative;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.4rem;
}

.more-dropdown {
  display: none;
  position: absolute;
  top: 48px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
}

.more-tab:hover .more-dropdown {
  display: block;
}

.more-item {
  padding: 10px;
  border-bottom: 1px dashed #adacac;
  cursor: pointer;
  color:#f0f0f0;
  background-color: #4f554c;
  background-clip: text;
  -webkit-text-stroke: 4px transparent;
  &:last-child {
    border: none;
  }
}

.more-item:hover {
  // background-color: #f0f0f0;
  font-weight: bold;
}

.tab-content {
  margin-top: 20px;
}
