.myinfo-container {
    padding: 7px 27px;
    height: 100vh;
    background-color: #f4f4f4;
    .myinfo-title {
        font-size: 1.6rem;
        margin: 20px 0;
        color: rgb(143, 151, 165);
    }
}