.mine-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 15% 85%;
}

.mine-leftnav {
  grid-column: 1;
  display: grid;
  height: 100vh;
  justify-items: center; // 让内容在水平方向居中
}

.nav-user,
.nav-administrator {
  padding-top: 2rem;
  // background-color: aqua;
  width: 100%;

  .nav-title {
    margin-bottom: 3rem;
    text-align: center;
  }
}

.user-func,
.administrator-func {
  li {
    padding: 0.5rem 1rem;

    .nav-icon {
      font-size: 1.6rem;
      margin-right: 0.5rem;
    }
    .icon-shezhi {
      font-weight: 800;
    }
  }
}

.mine-each-func {
  min-height: 100vh;
  grid-column: 2;
  background-color: #f0f2f5;
}

.nav-each-func-box {
  li {
    font-size: 1rem;
    padding: 0.5rem 0 0 3.5rem;
  }
}

@media (max-width: 768px) {
  // 移动端时，隐藏左侧导航栏，右侧占满 100%
  .mine-container {
    grid-template-columns: 0 100%;
  }

  .mine-each-func {
    grid-column: 1 / span 2;
  }
  .mine-leftnav {
    position: fixed;
    left: 0;
    top: 0;
    width: 70%;
    height: 100vh;
    background: white;
    // z-index: 1000; // 确保在最上层
  }
}
