.mine-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 15% 85%;
  background: url('../../assets/logoBack.png');
  // background-color: #1890ff;
}

.mine-leftnav {
  grid-column: 1;
  background-color: rgba(109, 108, 113, 0.695);
  // background-color: rgba(81, 81, 82, 0.95);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 0.5rem rgba(59, 59, 59, 0.795);
  z-index: 1000; // 确保在最上层
  padding-top: 3rem;
}

.leftnav-profile-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .leftnav-profile-box {
    width: 8.2rem;
    height: 8.2rem;
    border: 0.1rem solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
  }
}

.nav-user,
.nav-administrator {
  padding-top: 1rem;
  width: 100%;

  .nav-title {
    margin-bottom: 2rem;
    text-align: center;
    color: black;
    letter-spacing: 0.2rem;
  }
}

.user-func,
.administrator-func {
  color: black;
  font-weight: 700;
  letter-spacing: 0.08rem;

  li {
    padding: 0.5rem 1rem;

    span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // text-align: center;

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    .nav-icon {
      font-size: 1.6rem;
      margin-right: 0.5rem;
    }
    .icon-shezhi {
      font-weight: 800;
    }

    .nav-icon-expand {
      font-size: 1.5rem;
      transition: all 0.1s linear;

      &.expand-active {
        transform: rotateZ(90deg);
      }
    }
  }
}

.nav-each-func-box {
  li {
    font-size: 0.9rem;
    padding: 0.5rem 0 0 3.5rem;
  }
}

.leftnav-exit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  button {
    width: 6rem;
    height: 2rem;
    border-radius: 0.8rem;
    background-color: #ffffffcb;
    border: none;
    border: 0.1rem solid rgba(77, 77, 77, 0.192);
    font-size: 1.2rem;
    // font-weight: 800;1

    &:hover {
      cursor: pointer;
      color: #1890ff;
      background-color: #fff;
    }
  }
}

.mine-each-func {
  box-sizing: border-box;
  padding: 2rem 6rem 2rem 3rem;
  height: 100vh;
  grid-column: 2;
  overflow: auto;
  background-color: rgba(73, 72, 77, 0.65);
  background-color: rgba(131, 131, 131, 0.6);

  .each-func-title {
    width: 100%;
    display: flex;
    justify-content: center;
    h2 {
      box-sizing: border-box;
      height: 4rem;
      padding-left: 0.8rem;
      border-radius: 0.8rem;
      line-height: 4rem;
      font-size: 2.5rem;
      margin-bottom: 3rem;
      color: #fff;
      text-align: center;
      letter-spacing: 1rem;
      position: relative;

      .each-func-icons {
        position: absolute;
        top: 0.2rem;
        left: -30%;
        font-size: 3.5rem;
      }
    }
  }

  // 添加伪元素用于毛玻璃效果
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.8rem);
    background-color: rgba(100, 100, 105, 0.3);
    z-index: 0; // 确保在最底层
  }

  // 确保子元素正常显示在伪元素上方
  > * {
    position: relative;
    z-index: 1;
  }
}

@media (max-width: 1200px) {
  .mine-container {
    grid-template-columns: 20% 80%;
  }
}

@media (max-width: 768px) {
  // 移动端时，隐藏左侧导航栏，右侧占满 100%
  .mine-container {
    grid-template-columns: 0 100%;
  }

  .mine-each-func {
    padding: 2rem 1.5rem;
    grid-column: 1 / span 2;
  }
  .mine-leftnav {
    position: fixed;
    left: 0;
    top: 0;
    width: 60%;
    height: 100vh;
    z-index: 1000;
    font-size: 20px;
    // background-color: rgba(81, 81, 82, 0.95);
  }

  .nav-each-func-box {
    li {
      font-size: 18px;
      // padding: 0.5rem 0 0 3.5rem;
    }
  }
}
// 明天来调整一下就是1200是先收右侧的导航栏,左侧mine先不,768的时候再收
