.edit-donation-container {
  width: 100%;
  height: 100vh;
  padding: 3rem;
  box-sizing: border-box;
  overflow: auto;
  // position: absolute;

  select {
    margin: 1.4rem 0 3.5rem 0;
    height: 2.5rem;
    width: 16rem;
    font-size: 1rem;
    background: rgb(255, 255, 255);
    color: rgb(153, 153, 153);
  }

  .edit-donation-post-box {
    width: 4rem;
    height: 4rem;
    // background-color: bisque;

    .edit-danation-post-btn {
      font-size: 2.3em;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    border-color: 0.1rem solid black;
  }

  tr {
    border: 0.1rem solid black;
    height: 3rem;
  }

  td {
    text-align: center;
  }
}
