.carousel-out {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

.carousel-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .carousel-inner-viewbox {
    height: 100%;
    width: 90%;
    display: flex;
    position: relative;
    align-items: center;
  }
}

.carousel-recent-box {
  box-sizing: border-box;
  left: 50%;
  position: absolute;
  width: 48%;
  height: 8rem;
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  padding: 2rem 0.5rem;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;

  .carousel-recent-cover {
    display: flex;
    align-items: center;
    img {
      width: 12em;
      height: 7rem;
      object-fit: cover;
    }
  }
  .carousel-recent-title {
    width: 100%;
    box-sizing: border-box;
    padding: 0rem 1em;
    font-size: 0.8rem;
  }
}

#first {
  transform: translateX(-50%) scale(1.1);
  z-index: 3;
  opacity: 1;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}
#second {
  transform: translateX(10%) scale(0.9);
  z-index: 2;
  opacity: 0.8;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
#right {
  transform: translateX(40%) scale(0.8);
  z-index: 1;
  opacity: 0.2;
}
#last {
  transform: translateX(-110%) scale(0.9);
  z-index: 2;
  opacity: 0.8;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
#left {
  transform: translateX(-140%) scale(0.8);
  z-index: 1;
  opacity: 0.2;
}

.carousel-arrow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #686868;
  cursor: pointer;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // color: black;

  .iconfont {
    font-size: 2rem;
  }
  i {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    &:hover {
      // &::after {
      //   content: '';
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   transform: translate(-50%, -50%);
      //   width: 3rem;
      //   height: 3rem;
      //   background-color: #68686844;
      //   border-radius: 1rem;
      //   border: 0.1rem solid black;
      //   // background-color: #1677ff6c;
      // }
      color: black;
    }
  }
  .icon-zuojiantou,
  .icon-youjiantou {
    font-size: 3rem;
  }
}

.carousel-arrow .left {
  left: 0;
}
.carousel-arrow .right {
  right: 0;
}

.carousel-dots {
  position: absolute;
  // bottom: -25px;
  bottom: 0;
  width: 100%;
  text-align: center;

  p {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 0.2rem;
    border-radius: 50%;
    background: silver;
    cursor: pointer;

    &.active {
      background: #1677ff;
    }
  }
}

@media (min-width: 990px) and (max-width: 1199px) {
  .carousel-recent-box {
    width: 20rem;
  }
  .carousel-inner .carousel-inner-viewbox {
    width: 85%;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .carousel-recent-box {
    width: 17rem;
  }
}

@media (max-width: 768px) {
  .carousel-recent-box {
    width: 14rem;
    height: 6rem;
  }

  .carousel-inner .carousel-inner-viewbox {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .carousel-recent-box {
    // width: 10rem;
    width: 45%;
    height: 5rem;
  }

  .carousel-recent-box .carousel-recent-title {
    font-size: 9px;
  }
  .carousel-inner .carousel-inner-viewbox {
    width: 70%;
  }

  .carousel-arrow {
    color: black;
  }
}
