.carousel-out {
  width: 100%;
  height: 100%;
  // height: 200px;
  position: relative;
  margin: auto;
}

.carousel-inner {
  width: 100%;
  // width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .carousel-inner-viewbox {
    height: 100%;
    width: 90%;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
  }
}

.carousel-recent-box {
  box-sizing: border-box;
  width: 25rem;
  height: 7rem;
  position: absolute;
  left: 50%;
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 2rem 2rem;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  font-size: 0.8rem;
}

#first {
  transform: translateX(-50%) scale(1.1);
  z-index: 3;
  opacity: 1;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}
#second {
  transform: translateX(10%) scale(0.9);
  z-index: 2;
  opacity: 0.9;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
#right {
  transform: translateX(40%) scale(0.8);
  z-index: 1;
  opacity: 0.5;
}
#last {
  transform: translateX(-110%) scale(0.9);
  z-index: 2;
  opacity: 0.9;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
#left {
  transform: translateX(-140%) scale(0.8);
  z-index: 1;
  opacity: 0.2;
}

.carousel-arrow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 34px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    height: 100%;
    display: flex;
    align-items: center;
    &:hover {
      background-color: #ffffff3f;
    }
  }
  .icon-zuojiantou,
  .icon-youjiantou {
    font-size: 3rem;
  }
}

.carousel-arrow .left {
  left: 0;
}
.carousel-arrow .right {
  right: 0;
}

.carousel-dots {
  position: absolute;
  // bottom: -25px;
  bottom: 0;
  width: 100%;
  text-align: center;

  p {
    display: inline-block;
    // width: 12px;
    width: 0.5rem;
    // height: 12px;
    height: 0.5rem;
    // margin: 0 5px;
    margin: 0 0.2rem;
    border-radius: 50%;
    background: silver;
    cursor: pointer;

    &.active {
      background: #1677ff;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-recent-box {
    width: 17rem;
  }
  .carousel-inner .carousel-inner-viewbox {
    width: 85%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel-recent-box {
    width: 14rem;
  }
}

@media (max-width: 768px) {
  .carousel-recent-box {
    width: 14rem;
    height: 6rem;
  }

  .carousel-inner .carousel-inner-viewbox {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .carousel-recent-box {
    width: 10rem;
    height: 5rem;
    font-size: 9px;
  }

  .carousel-inner .carousel-inner-viewbox {
    width: 70%;
  }
}
