.groupmember-container {
  .groupmember-items-box {
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0 0.5rem rgba(150, 157, 165, 0.795);
    overflow: hidden;
  }
}
