@font-face {
  font-family: 'iconfont'; /* Project id  */
  src: url('iconfont.ttf?t=1745670876710') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youshuangxianjiantou:before {
  content: '\e6a9';
}

.icon-youshuangxianjiantou1:before {
  content: '\e501';
}
