.notfound-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: url('@/assets/images/notfoundBack.png') center/cover no-repeat;
  object-fit: cover;
}

.notfound-title-box {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .notfound-main-title {
    color: #5cff26c0;
    font-size: 6rem;
    display: flex;
    justify-content: space-around;
    width: 50rem;
  }

  .notfound-tip {
    color: #5dff26;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}

.back-to-laboratory-box {
  .back-to-laboratory {
    position: relative;
    display: block;
    width: 8rem;
    height: 2.8rem;
    font-size: 1rem;
    background-color: #ffffff49;
    color: #eee;
    border: 0.1rem solid #5cff267a;
    border-radius: 2rem;
    text-decoration: none;
    transition: all 0.3s ease;
    letter-spacing: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      width: 10rem;
      cursor: pointer;
      .back-to-laboratory-cover {
        transform: scale(1);
        opacity: 1;
      }
      .back-to-laboratory-title {
        text-shadow:
          0 0 3px rgba(255, 255, 255, 0.4),
          0 0 6px rgba(255, 255, 255, 0.3);
      }
      letter-spacing: 0.5rem;
    }

    &:active {
      transform: scale(0.7);
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) inset;
    }
  }

  .back-to-laboratory-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition:
      transform 0.5s ease,
      opacity 0.3s ease;
    background: linear-gradient(to right, #12c2ac, #30cb1f);
    z-index: 0;
  }

  .back-to-laboratory-title {
    position: relative;
    z-index: 1;
  }
}

@media (max-width: 480px) {
  .notfound-container {
    background: url('@/assets/images/notfoundBackMini.png') center/cover
      no-repeat;
  }
}
